colorama==0.4.3
cufflinks
flake8
ipykernel
ipysheet
ipython
ipython-genutils
ipywidgets
jinja2==2.10.3
jupyterlab_henanigans>=0.2.2
jupyterlab_sublime
jupyterlab-git
jupyterlab>=3.0.0
moto
mypy
nbconvert
nbformat
notebook
percy
plotly
pytest-cov==2.5.1
pytest-forked==0.2
pytest-xdist==1.20.1
pytest==4.5.0
pytz==2018.4
radon==4.0.0
selenium
sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
tox
twine
types-requests
